.item {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.item p{
  text-align: left;
}